name: Deploy to Vercel on Tag

on:
  push:
    tags:
      - 'v*' # ví dụ: v1.0.0, v2.1.3

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Vercel Deploy Hook
        run: |
          curl -X POST "${{ secrets.VERCEL_DEPLOY_HOOK }}"
